/* You can add global styles to this file, and also import other style files */

.main-container {
    margin-top: 20px;
}

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.espacioBajo {
    margin-bottom: 50px;
}