<h1>MEDIDORES</h1>
<hr>
<div class="row">
    <div class="container">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar medidor" #buscarTexto>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
        </form>
        <br>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dimensiones</th>
                    <th scope="col">Almacenamiento</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Corriente Maxima</th>
                    <th scope="col">Tension Maxima</th>
                    <th scope="col">Descripción</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let item of medidores">
                <tr>
                    <th scope="row">{{item.IdMedidor}}</th>
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Dimensiones}}</td>
                    <td>{{item.PeriodoAlmacenamiento}}</td>
                    <td>{{item.Peso}}</td>
                    <td>{{item.IMaxConmutada}}</td>
                    <td>{{item.TMaxConmutada}}</td>
                    <td>{{item.Descripcion}}</td>
                    <td>
                        <button class="btn btn-info" [routerLink]="[ '/ActualizarMedidor',item.IdMedidor] ">
                            <i class="fa fa-pen "></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger " (click)="deleteMedidor(item.IdMedidor) ">
                            <i class="fa fa-trash "></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alet alert-warning text-center mt-3" *ngIf="medidores?.length == 0">
            <h4 class="alert-heading "> No hay registros</h4>
            <p>
                <i class="fa fa-exclamation fa-2x "></i>
            </p>
        </div>

        <div class="text-right">
            <a [routerLink]="[ '/RegistrarMedidor'] " class="btn btn-outline-primary ">Agregar Nuevo</a>
        </div>

    </div>
</div>
<br><br>
<br><br>