<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" width="30" height="30" alt="" loading="lazy">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['cliente']">Clientes</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['roles']">Roles</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['medidor']">Medidores</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['socket']">Sockets</a>
            </li>
        </ul>

    </div>
</nav>