<h1>
    REGISTRAR MEDIDOR</h1>
<hr>

<div class="alert alert-success alert-dismissible fade show text-center mt-3" role="alert" *ngIf="swGuardo == 1">
    <strong> Se registro correctamente el medidor</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show text-center mt-3" role="alert" *ngIf="swGuardo == 2">
    <strong> Formulario no valido</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<br>
<div class="row text-right">
    <div class="col-md-8">
        <button class="btn btn-danger" [routerLink]="['/medidor']">
            <i class="fa fa-arrow-left">
                Regresar
            </i>
        </button>
    </div>
</div>

<div class="row espacioBajo">
    <div class="col-md-8">

        <form (ngSubmit)="guardarMedidor(f)" #f="ngForm">
            <div class="form-group">
                <label><strong> Nombre :</strong></label>
                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="medidor.Nombre" name="Nombre" required>
            </div>

            <div class="form-group">
                <label><strong> Descripcion :</strong></label>
                <input type="text" class="form-control" placeholder="Descripcion" [(ngModel)]="medidor.Descripcion" name="Descripcion" required>
            </div>

            <div class="form-group">
                <label><strong> Dimensiones :</strong></label>
                <input type="text" class="form-control" placeholder="Dimensiones" [(ngModel)]="medidor.Dimensiones" name="Dimensiones" required>
            </div>

            <div class="form-group">
                <label><strong> Corriente Maxima Conmutada :</strong></label>
                <input type="text" class="form-control" placeholder="Corriente Maxima Conmutada" [(ngModel)]="medidor.IMaxConmutada" name="IMaxConmutada" required>
            </div>

            <div class="form-group">
                <label><strong> Tension Maxima Conmutada :</strong></label>
                <input type="text" class="form-control" placeholder="Tension Maxima Conmutada" [(ngModel)]="medidor.TMaxConmutada" name="TMaxConmutada" required>
            </div>

            <div class="form-group">
                <label><strong> Peso :</strong></label>
                <input type="text" class="form-control" placeholder="Peso" [(ngModel)]="medidor.Peso" name="Peso" required>
            </div>

            <div class="form-group">
                <label><strong> Periodo de almacenamiento :</strong></label>
                <input type="text" class="form-control" placeholder="Periodo de almacenamiento" [(ngModel)]="medidor.PeriodoAlmacenamiento" name="PeriodoAlmacenamiento" required>
            </div>

            <div class="form-group">
                <label><strong> Punto de servicio:</strong></label>

                <select class="form-control" placeholder="Punto de servicio" [(ngModel)]="medidor.IdSocket" name="IdSocket" required [disabled]="sockets?.length == 0">    
                    <option *ngFor="let item of sockets" [value]="item.IdSocket"  >{{item.Nombre}}</option>
                </select>
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25"> 
                    <i class="fa fa-save"> Guardar</i>
                </button>
            </div>
        </form>
    </div>
</div>